/* Общие контейнеры */
.game-container {
    width: 100%;
    width: calc(100vh * 16/9);
    padding: 20px;
}

.flowers-game-container {
    display: flex;
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
    

background-image: url(../images/flowers-game-images/bg.png);
background-repeat:no-repeat;
background-position: center center;
background-size: 100%;
}

.game-container.hive-game-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 20px;
}

/* Цветочная игра */
.flowers-panel {
    position: absolute;
    top: 0;
    left: 15px;
    height: 93%;
    margin-top: 10px;
    width: 20%;
/*     background-color: #ffcce0;
    border: 2px solid #ff4081; */
    border-radius: 10px 0 0 10px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    scrollbar-width: none;
}

.flowers-panel::-webkit-scrollbar {
    display: none;
}

.bouquet-area {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
/*     background-color: #ffcce0;
/*  */    /* border: 2px solid #ff4081; */
    border-radius: 0 10px 10px 0;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hand-with-stems {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 59%;
    height: auto;
    z-index: 1;
    bottom: 18px;
}

.stem-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.buket {
    width: 416px;
    display: block;
    margin: 0 auto;
}

/* Игра с пчелами */
.game-container.hive-game-container .game-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hive-game-images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.score-container {
    position: absolute;
    top: 5%;
    left: 3%;
    background-color: #BCDFAE;
    padding: 1% 2%;
    border: 3px solid #0B3016;
    border-radius: 20px;
    font-weight: bold;
    z-index: 2;
}

.game-container.hive-game-container .game-area {
    width: 100%;
    height: 100%;
    position: relative;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.end-message {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.front-object {
    z-index: 20;
    pointer-events: none;
    position: absolute;
    right: 0.5%;
    bottom: 0;
    height: 65%;
}

/* Игра с буквами */
.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5vw;
    

background-image: url(../images/words-game-images/bg.png);
background-repeat:no-repeat;
background-position: center center;
background-size: 100%;
/*     background-color: #FFFF88;
 */    padding: 3vw;
    border-radius: 15px;
    /* border: 3px solid #FFD700; */
    aspect-ratio: 16/9;
}

/* Фоновый контейнер */
#bg-container {
    background: url(../images/main-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

.modal-panels-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.row {
    height: 15%;
    display: flex;
}

.row:nth-child(2n) {
    height: 15%;
    display: flex;
    justify-content: flex-end;
}

.modal {
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: visible;
}
